body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
.container {
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #555;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.section {
    margin-bottom: 20px;
}
.skills ul, .publications ul {
    padding-left: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}
.profile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between the image and the text */
}
.profile-pic {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure it fits perfectly in a circle */
    border: 2px solid #333; /* Optional border for styling */
}
.profile-details {
    max-width: 400px; /* Optional: Limit the width of the text block */
}